header {
  background-color: #4257b2;
  margin: auto -16px;
  padding: 5px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}
